html,body,h1,p,div,table,tr,td,img{
	padding: 0;
	margin: 0;
	border: 0;
}

html{
	font-size: 14px;
}
/*
#f3da25 qianhuang
#f5ae1b shenhuang
基本信息教育背景职业技能奖项证书校园经历自我评价
*/

@media screen and (max-width: 720px){
	.box{
		width: 100%;
	}
}

@media screen and (min-width: 721px) and (max-width: 1100px){
	.box{
		width: 49.7%;
		border: 1px solid white;
	}
}

@media screen and (min-width: 1101px){
	.box{
		width: 33.33%;
	}
}

.box{
	position: relative;
	float: left;
	height: 22rem;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
}

/*--------------以下为box1----------------*/
.box1{
	background-color: #f3da25;
	transition: all 1s;
	-webkit-transition: all 1s;
}

.box1 img{
	position: absolute;
	top: 45%;
	right: 8%;
	height: 40%;
	opacity: 0;
	z-index: 10;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 1s;
	-webkit-transition: all 1s;
}

.box1 .xie{
	width: 100%;
	height: 100px;
	background-color: purple;
	transform: translate(0,-100px);
	-webkit-transform: translate(0,-100px);
	transition: all 1s;
	-webkit-transition: all 1s;
}

.box1 h1{
	position: absolute;
	font-family:'PangMenZhengDao128d20f84c1d2b2';
	font-weight: lighter;
	top: 0;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 3rem;
	line-height: 22rem;
	transition: all 1s;
	-webkit-transition: all 1s;
}

.box1 .introduce{
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	transform: scale(0.5,0.5);
	-webkit-transform: scale(0.5,0.5);
	opacity: 0;
	transition: all 1s;
	-webkit-transition: all 1s;
}

.box1:hover{
	background-color: white;
	transition: all 1s;
	-webkit-transition: all 1s;
}

@keyframes zhuan{
	0%{
		-webkit-transform: rotate(0deg) scale(1,1);
		transform: rotate(0deg) scale(1,1);
	}
	50%{
		-webkit-transform: rotate(180deg) scale(1.4,1.4);
		transform: rotate(180deg) scale(1.4,1.4);
	}
	100%{
		-webkit-transform: rotate(360deg) scale(1,1);
		transform: rotate(360deg) scale(1,1);
	}
}

.box1:hover img{
	opacity: 0.4;
	animation: zhuan 2.6s linear infinite;
	transition: opacity transform 1s;
	-webkit-animation: zhuan 2.6s linear infinite;
	-webkit-transition: opacity transform 1s;
}

.box1:hover h1{
	line-height: 2rem;
	font-size: 2rem;
	text-align: left;
	top: 4rem;
	left: 2rem;
	z-index: 11;
	transition: all 1s;
	-webkit-transition: all 1s;
}

.box1:hover .xie{
	transform: skewY(-9deg);
	transition: all 1s;
	-webkit-transform: skewY(-9deg);
	-webkit-transition: all 1s;
}

.box1:hover .introduce{
	transform: scale(1,1);
	transition: all 1s;
	-webkit-transform: scale(1,1);
	opacity: 1;
	-webkit-transition: all 1s;
}

/*-------------------box2-------------------------*/
.box2{
	background-color: #f5ae1b;
}

/*--------------------other--------------------*/
.weight{
	font-weight: bolder;
}

.box table tr td::first-letter,.introduce p::first-letter,.bigger{
	color: purple;
	font-size: 135%;
}

.introduce2,.introduce6{
	width: 80%;
}

.introduce5{
	width: 80%;
	height: 50%;
	/*display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7;       超出7行出现省略号*/
    overflow: auto;
    -ms-overflow-style: none;    /*IE下隐藏滚动条*/
    /*overflow: -moz-scrollbars-none;  火狐下隐藏滚动条，但不可以滚动*/

}

.introduce5::-webkit-scrollbar{  /*chrome下隐藏滚动条*/
	display: none;
}